body {
    margin: 0;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    /* padding: 10px; */
    background-color: #ffeead;
    /* margin: 10px; */
}

ul {
    list-style: none;
    padding: 10px;
}

ul > li {
    margin: 10px;
}

.container {
    border: 5px solid #ffcc5c;
    display: flex;
}

.search {
    flex: 1;
}