.box {
  width: 150px;
  height: 150px;
  background: #2db34a;
  border-radius: 5px;
  transition-property: border-radius, background;
  transition-duration: 1s, 2s;
  /**linear (constant speed), ease in (starts slowly but proceeds rapidly)
    ease-out (starts quickly but slows down throughout transition)
    ease-in-out (starts slowly, speeds in the middle, slow towards the end)  **/
  transition-timing-function: ease-in-out;
  transition-delay: 2s;
  /**We can use a shorthand; transition: background, 2s linear 1s*/
  margin-bottom: 15px;
}

.box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

button {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    margin-bottom: 20px;
}

button:active {
   box-shadow: 0 2px 0 #006599; 
   transform: translateY(3px);
}

.card-container {
    height: 150px;
    perspective: 600;
    position: relative;
    width: 150px;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}
.card:hover {
    transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.card .back {
    transform: rotateY(180deg);
}